In [1]:
import cobra
import scipy
import os
from pathlib import Path

In [5]:
# load human GEM
ihuman = cobra.io.load_matlab_model("./models/Human-GEM.mat")

In [6]:
# load tissue specific models
tissue_models = {}

dir = os.fsencode("./models")
    
for file in os.listdir(dir):
    filename = os.fsdecode(file)
    tissue_models[Path(filename).stem] = cobra.io.load_matlab_model(f"./models/{filename}")

In [3]:
ihuman

In [4]:
gtex

In [5]:
skcm

In [6]:
ihuman.optimize()

In [7]:
gtex.optimize()

In [8]:
skcm.optimize()